body {
  background: RGB(135, 206, 250);
  font-family: "Courier";
}

a, a:hover {
  color: black;
}

form, .center-block {
    text-align: center;
    align-items: center;
    align-content: center;
}