extends header

block title
  title=title

block content
  .container-fluid
    .row
      .col-xs-12
        img.img-responsive(src='/images/scroll.png')
        h3 Thank you for your input!
        br
        p Right now your input is anonymous but if you'd like to show off your vote on the portal, you can upload a picture below.
        br
        br
        br
        form(action='/upload?choice='+choice, enctype='multipart/form-data', method='post')
          input.center-block(name='upload1', type='file')
          br
          br
          br
          input(type='submit', value='Upload')
