extends header

block title
  title=title

block content
  .container-fluid
    .row
      .col-xs-12
        h1
          strong Pulse Portal
        h3 Great photo!
        br
        p You should see it on the Pulse Portal in front of you!
